@model BoletoBusPro.Web.Models.Asiento.AsientoGetModel

@{
    ViewData["Title"] = "Detalle del Asiento";
}

<h1>Detalle del Asiento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAsiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdBus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdBus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPiso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroPiso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAsiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroAsiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAsiento }) |
    <a asp-action="Index">Volver a la lista</a>
</div>
