@model IEnumerable<BoletoBusPro.Web.Models.Bus.BusGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Buses</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPlaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadPiso1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadPiso2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadPiso1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadPiso2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.IdBus }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdBus })
            </td>
        </tr>
}
    </tbody>
</table>
